*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body
{
    /* texto do site */
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 1.5em;
    font-weight: 600;

    /* imgagem fixa no fundo do site */
    background: url('../assets/morrocamelo.jpg') center center no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

header
{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 
{
    color: black;
    font-size: 4em;
    font-weight: 900;

    margin-bottom: 20px;
}

header div
{
    text-align: center;
}

header nav
{
    height: 50px;
}

main
{
    color: black;

    display: flex;
    justify-content: center;
}

main div
{
    background-color: whitesmoke;
    width: 70%;
    opacity: 80%;

    border-radius: 10px;

    padding: 30px;
}

main div p
{
    margin-bottom: 30px;
    text-indent: 25px;
    text-align: justify;
}

.rodape {
    background: linear-gradient(135deg, #000000, #1a1a1a);
    color: #f0f0f0;
    text-align: center;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.6s ease;
    animation: fadeInUp 1s ease-out;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
}


.rodape:hover {
    background: linear-gradient(135deg, #1a1a1a, #333333);
    color: #ffffff;
    transform: scale(1.015);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

/**/